/* Start CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #d3d3d3;
	color:black;
	font-family: 'Roboto', monospace, sans-serif;
	font-size: 24px;
	line-height: 1.5;
}
footer {
	background-color: white;
	padding: 30px;
	text-align: center;
}
h1, h2 {
	color: black;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 50px;
}

header {background: white;}

/* ID and Classes */

#container {
	margin: 10px auto;
	width: 95%;
}

.grey-block {
	background-color: white;
	margin: 1px;	
}

.yellow-block {
	background-color: #EEB902
}

.yellow-block, .grey-block {
	padding: 30px;
}