/* Start CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: red;
	color:black;
	font-family: 'Roboto', monospace, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
footer {
	background-color: white;
	padding: 30px;
	text-align: center;
}
h1, h2 {
	color: white;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 50px;
}

/* ID and Classes */

#container {
	margin: 10px auto;
	width: 85%;
}

.grey-block {
	background-color: white;
	margin: 1px;	
}

.yellow-block {
	background-color: #EEB902
}

.yellow-block, .grey-block {
	padding: 30px;
}